* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 16px;
    font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans", Arial, sans-serif;
}

th {
    background: gray;
}

td,
th,
tr {
    padding: 5px 10px;
}

.colorName,
.RGB-code,
.HEX-code {
    cursor: pointer;
}

#snackbar {
    visibility: hidden;
    min-width: 100px;
    margin-left: -125px;
    text-align: center;
    border-radius: 10px;
    padding: 0.5rem;
    position: fixed;
    z-index: 1;
    left: 50%;
    bottom: 70px;
    font-size: 1rem;
    color: white;
    background-color: #333;
}

@keyframes fadeout {
    from {
        bottom: 30px;
        opacity: 1;
    }
    to {
        bottom: 0;
        opacity: 0;
    }
}

#snackbar.show {
    visibility: visible;
}

/* LABELS */

.vertical {
    writing-mode: vertical-lr;
    text-orientation: upright;
}
.red-label {
    background-color: gray;
    color: darkred;
    text-align: center;
    font-weight: bold;
    font-size: 1.5rem;
}

.pink-label {
    background-color: gray;
    color: hotpink;
    text-align: center;
    font-weight: bold;
    font-size: 1.5rem;
}

.orange-label {
    background-color: gray;
    color: tomato;
    text-align: center;
    font-weight: bold;
    font-size: 1.5rem;
}

.yellow-label {
    background-color: gray;
    color: yellow;
    text-align: center;
    font-weight: bold;
    font-size: 1.5rem;
}

.purple-label {
    background-color: gray;
    color: purple;
    text-align: center;
    font-weight: bold;
    font-size: 1.5rem;
}

.green-label {
    background-color: gray;
    color: lime;
    text-align: center;
    font-weight: bold;
    font-size: 1.5rem;
}

.blue-label {
    background-color: gray;
    color: blue;
    text-align: center;
    font-weight: bold;
    font-size: 1.5rem;
}

.brown-label {
    background-color: gray;
    color: saddlebrown;
    text-align: center;
    font-weight: bold;
    font-size: 1.5rem;
}

.white-label {
    background-color: gray;
    color: whitesmoke;
    text-align: center;
    font-weight: bold;
    font-size: 1.5rem;
}

.gray-label {
    background-color: gray;
    color: darkslategray;
    text-align: center;
    font-weight: bold;
    font-size: 1.5rem;
}

/* REDS */

.indianRed {
    background-color: indianred;
}

.lightCoral {
    background-color: lightcoral;
}

.salmon {
    background-color: salmon;
}

.darkSalmon {
    background-color: darksalmon;
}

.lightSalmon {
    background-color: lightsalmon;
}

.crimson {
    background-color: crimson;
}

.red {
    background-color: red;
}

.fireBrick {
    background-color: firebrick;
    /* color: white; */
}

.darkRed {
    background-color: darkred;
    /* color: white; */
}

/* PINKS */

.pink {
    background-color: pink;
}

.lightPink {
    background-color: lightpink;
}

.hotPink {
    background-color: HotPink;
}

.deepPink {
    background-color: DeepPink;
}

.mediumVioletRed {
    background-color: MediumVioletRed;
    /* color: white; */
}

.paleVioletRed {
    background-color: PaleVioletRed;
}

/* ORANGES */

.lightSalmon {
    background-color: lightsalmon;
}
.coral {
    background-color: coral;
}
.tomato {
    background-color: tomato;
}
.orangeRed {
    background-color: orangered;
}
.darkOrange {
    background-color: darkorange;
}
.orange {
    background-color: orange;
}

/* YELLOWS */

.gold {
    background-color: gold;
}
.yellow {
    background-color: yellow;
}

.lightYellow {
    background-color: lightyellow;
}

.lemonChiffon {
    background-color: lemonchiffon;
}

.lightGoldenrodYellow {
    background-color: lightgoldenrodyellow;
}

.papayaWhip {
    background-color: papayawhip;
}

.moccasin {
    background-color: moccasin;
}

.peachPuff {
    background-color: peachpuff;
}

.paleGoldenrod {
    background-color: palegoldenrod;
}

.khaki {
    background-color: khaki;
}

.darkKhaki {
    background-color: darkkhaki;
}

/* PURPLES */

.lavender {
    background-color: lavender;
}

.thistle {
    background-color: thistle;
}

.plum {
    background-color: plum;
}

.violet {
    background-color: violet;
}

.orchid {
    background-color: orchid;
}

.fuchsia {
    background-color: fuchsia;
}

.magenta {
    background-color: magenta;
}

.mediumOrchid {
    background-color: mediumorchid;
}

.mediumPurple {
    background-color: mediumpurple;
}

.rebeccaPurple {
    background-color: rebeccapurple;
    color: #c2c2c2;
}

.blueViolet {
    background-color: blueviolet;
}

.darkViolet {
    background-color: darkviolet;
}

.darkViolet {
    background-color: darkviolet;
}

.darkOrchid {
    background-color: darkorchid;
}

.darkMagenta {
    background-color: darkmagenta;
}

.purple {
    background-color: purple;
}
.indigo {
    background-color: indigo;
    color: #c2c2c2;
}

.slateBlue {
    background-color: slateblue;
}

.darkSlateBlue {
    background-color: darkslateblue;
    color: #c2c2c2;
}

.mediumSlateBlue {
    background-color: mediumslateblue;
}

/* GREENS */

.greenYellow {
    background-color: greenyellow;
}

.chartreuse {
    background-color: chartreuse;
}

.lawnGreen {
    background-color: lawngreen;
}

.lime {
    background-color: lime;
}

.limeGreen {
    background-color: limegreen;
}

.paleGreen {
    background-color: palegreen;
}

.lightGreen {
    background-color: lightgreen;
}

.mediumSpringGreen {
    background-color: mediumspringgreen;
}
.springGreen {
    background-color: springgreen;
}

.mediumSeaGreen {
    background-color: mediumseagreen;
}

.springGreen {
    background-color: springgreen;
}

.mediumSeaGreen {
    background-color: mediumseagreen;
}

.seaGreen {
    background-color: seagreen;
}

.forestGreen {
    background-color: forestgreen;
}

.green {
    background-color: green;
}

.darkGreen {
    background-color: darkgreen;
}

.yellowGreen {
    background-color: yellowgreen;
}

.oliveDrab {
    background-color: olivedrab;
}

.olive {
    background-color: olive;
}

.darkOliveGreen {
    background-color: darkolivegreen;
}

.mediumAquamarine {
    background-color: mediumaquamarine;
}

.darkSeaGreen {
    background-color: darkseagreen;
}

.lightSeaGreen {
    background-color: lightseagreen;
}

.darkCyan {
    background-color: darkcyan;
}

.teal {
    background-color: teal;
}

/* BLUES */

.aqua {
    background-color: aqua;
}
.cyan {
    background-color: cyan;
}
.lightCyan {
    background-color: lightcyan;
}

.paleTurquoise {
    background-color: paleturquoise;
}

.aquamarine {
    background-color: aquamarine;
}

.turquoise {
    background-color: turquoise;
}

.mediumTurquoise {
    background-color: mediumturquoise;
}

.darkTurquoise {
    background-color: darkturquoise;
}

.cadetBlue {
    background-color: cadetblue;
}

.steelBlue {
    background-color: steelblue;
}

.lightSteelBlue {
    background-color: lightsteelblue;
}

.powderBlue {
    background-color: powderblue;
}

.lightBlue {
    background-color: lightblue;
}

.skyBlue {
    background-color: skyblue;
}

.lightSkyBlue {
    background-color: lightskyblue;
}

.deepSkyBlue {
    background-color: deepskyblue;
}

.dodgerBlue {
    background-color: dodgerblue;
}

.cornflowerBlue {
    background-color: cornflowerblue;
}

.mediumSlateBlue {
    background-color: mediumslateblue;
}

.royalBlue {
    background-color: royalblue;
}

.blue {
    background-color: blue;
    color: #c2c2c2;
}

.mediumBlue {
    background-color: mediumblue;
    color: #c2c2c2;
}

.darkBlue {
    background-color: darkblue;
    color: #c2c2c2;
}

.navy {
    background-color: navy;
    color: #c2c2c2;
}

.midnightBlue {
    background-color: midnightblue;
    color: #c2c2c2;
}

/* BROWNS */

.cornsilk {
    background-color: cornsilk;
}
.blanchedAlmond {
    background-color: blanchedalmond;
}

.bisque {
    background-color: bisque;
}

.navajoWhite {
    background-color: navajowhite;
}

.wheat {
    background-color: wheat;
}

.burlyWood {
    background-color: burlywood;
}

.tan {
    background-color: tan;
}

.rosyBrown {
    background-color: rosybrown;
}

.sandyBrown {
    background-color: sandybrown;
}

.goldenrod {
    background-color: goldenrod;
}

.darkGoldenrod {
    background-color: darkgoldenrod;
}

.peru {
    background-color: peru;
}

.chocolate {
    background-color: chocolate;
}

.saddleBrown {
    background-color: saddlebrown;
}

.sienna {
    background-color: sienna;
}

.brown {
    background-color: brown;
}

.maroon {
    background-color: maroon;
}

/* WHITES */

.white {
    background-color: white;
}

.snow {
    background-color: snow;
}

.honeyDew {
    background-color: honeydew;
}

.mintCream {
    background-color: mintcream;
}

.azure {
    background-color: azure;
}

.aliceBlue {
    background-color: aliceblue;
}

.ghostWhite {
    background-color: ghostwhite;
}

.whiteSmoke {
    background-color: whitesmoke;
}

.seaShell {
    background-color: seashell;
}

.beige {
    background-color: beige;
}

.oldLace {
    background-color: oldlace;
}

.floralWhite {
    background-color: floralwhite;
}

.ivory {
    background-color: ivory;
}

.antiqueWhite {
    background-color: antiquewhite;
}

.linen {
    background-color: linen;
}

.lavenderBlush {
    background-color: lavenderblush;
}
.mistyRose {
    background-color: mistyrose;
}

/* GRAY */

.gainsboro {
    background-color: gainsboro;
}

.lightGray {
    background-color: lightgray;
}

.silver {
    background-color: silver;
}
.darkGray {
    background-color: darkgray;
}

.gray {
    background-color: gray;
}

.dimGray {
    background-color: dimgray;
}

.lightSlateGray {
    background-color: lightslategray;
}

.slateGray {
    background-color: slategray;
}

.darkSlateGray {
    background-color: darkslategray;
}
.black {
    background-color: black;
    color: #c2c2c2;
}
