* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
html {
    height: 100vh;
}

body {
    font-size: 16px;
    display: flex;
    justify-content: space-between;
    font-family: proxima-soft, sans-serif;
}

/* TOAST POPUP 
WHEN YOU CLICK ON A COLOR/CODE*/

#toast {
    visibility: hidden;
    min-width: 60px;
    text-align: center;
    border-radius: 10px;
    padding: 0.5rem;
    position: fixed;
    z-index: 600;
    left: 50%;
    bottom: 100px;
    color: white;
    background-color: #333;
}

@keyframes fadeout {
    from {
        bottom: 30px;
        opacity: 1;
    }
    to {
        bottom: 0;
        opacity: 0;
    }
}

#toast.show {
    visibility: visible;
}

.middle {
    background-color: #fdf6e3;
}

.rightTable {
    order: -1;
}

h1 {
    margin: 1rem 0;
    text-align: center;
    line-height: 1;
}

/* HIGHLIGHTER MESSAGE */
mark {
    margin: 0 -0.4em;
    padding: 0.1em 0.4em;
    border-radius: 0.8em 0.3em;
    background: transparent;
    background-image: linear-gradient(to right, rgba(251, 255, 8, 0.532), rgba(210, 225, 47, 0.616) 4%, rgba(247, 244, 53, 0.681));
    -webkit-box-decoration-break: clone;
    box-decoration-break: clone;
    font-style: italic;
    position: fixed;
    left: 17rem;
    top: 0.5rem;
    z-index: 666;
}

.highlight {
    background: azure;
}

.comment {
    color: gray;
    font-family: "Victor Mono", monospace;
    font-style: italic;
}

.example {
    font-size: 20px;
    white-space: word-break;
}

.example.a {
    color: darkorange;
    font-weight: 800;
    line-height: 1;
}

.example.b {
    color: green;
}

.example.c {
    background-color: pink;
    color: blue;
}

section {
    margin: 0 2rem 2rem 2rem;
    padding: 1rem 0;
    background-color: #eee8d5;
}

section > *:not(pre code) {
    padding: 0 2rem;
}

section p {
    font-weight: 600;
    font-family: monospace;
    font-size: 18px;
}

section .red,
section .lime,
section .blue {
    font-weight: 400;
    font-family: proxima-nova-extra-condensed, sans-serif;
    text-indent: 0.5rem;
    font-size: 1rem;
}

section .red,
section .blue {
    color: white;
}

pre {
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
    white-space: pre-wrap;
    background-image: url(lined-paper.png);
    background-color: rgba(245, 245, 146, 0.733);
    line-height: 1.5;
    padding-left: 3rem;
}

code {
    font-weight: bold;
    font-size: 20px;
    color: mediumblue;
}

.box-wrapper {
    display: flex;
    justify-content: space-around;
}

.box {
    height: 0;
    width: 15%;
    padding-bottom: 15%;
    border: black solid 1px;
    font-size: 1.2vw;
    text-align: center;
    line-height: 0.9;
    font-weight: 600;
    margin: 0.75rem 0;
}

.dimGray.box {
    color: white;
}

/* MEDIA QUERIES */

@media screen and (max-width: 1242px) {
    body {
        display: grid;
        grid-template-rows:
            "100%"
            "1fr 1fr";
        grid-template-areas:
            "middle"
            "table1 table2";
    }

    mark {
        display: none;
    }

    .middle {
        grid-area: middle;
        grid-column: 1/3;
        grid-row: 1;
    }

    section {
        margin: 0 10rem 2rem 10rem;
    }

    .leftTable {
        grid-area: table1;
        grid-column: 1/2;
    }

    .rightTable {
        grid-area: table2;
    }
}

@media screen and (max-width: 795px) {
    body {
        display: grid;
    }

    .middle {
        grid-column: 1/2;
        grid-row: 1/2;
    }

    .leftTable {
        grid-column: 1/2;
        grid-row: 2/3;
    }

    .rightTable {
        grid-column: 1/2;
        grid-row: 3/4;
    }

    section {
        margin: 0;
    }
}
